/* Paleta de colores y fuente seleccionadas */
:root{
    --myBlue: #011627;
    --myGray: #FDFFFC;
    --myRed: #F71735;
    --myBlueGreen: #41EAD4;
    --myTitle: 'Bebas Neue', cursive;
    --myText: 'Lato', sans-serif;
}

/* Normalización de estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px y fondo de la página*/
html{
    font-size: 62.5%;
    width: auto;
    min-height: 100vh;
    background: url('../assets/img/background.svg');
    background-repeat: no-repeat;
    background-position: top;
    font-family: var(--myText);
    overflow-x: hidden;
}

.html__views{
    background-image: url('../assets/img/backgroud-views.svg');
}

body{
    background-color: transparent;
}

/*===== ESTILOS BASE (MOBILE - XM) =====*/

/*===== ESTILOS NAV (MOBILE) =====*/
.header__nav .container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

/* Logo */
.header__nav a{
    width: 40%;
}

.header__nav a img{
    width: 100%;
    transition: all 0.5s;
}

.header__nav a img:hover{
    transform: scale(1.1);
}

/* Burger menu */
.navbar-light .navbar-toggler{
    border: solid var(--myGray) 1px;
    background-color: var(--myBlue);
    padding: 1rem;
    transition: all 0.5s;
}

.navbar-light .navbar-toggler:hover{
    border: solid var(--myBlue) 1px;
    background-color: var(--myGray);
}

.navbar-light .navbar-toggler-icon{
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-light .navbar-toggler-icon i{
    color: var(--myGray);
    font-size: 2rem;
    transition: all 0.5s;
}

.navbar-light .navbar-toggler:hover i{
    color: var(--myBlue);
}

/* Barra de navegación */
.header__nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: var(--myTitle);
    width: 80%;
    margin: 0 auto;
}

.header__nav ul li{
    padding: 5px;
    border-bottom: 1px solid var(--myBlue);
    margin: 0 5px;
    transition: all 0.5s;
}

.header__nav ul li a{
    text-decoration: none;
    color: var(--myBlue);
    font-size: 2rem;
    margin: 0 10px;
    width: 100%;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    text-align: center;
}

.navbar-light .navbar-nav .nav-link.active{
    color: var(--myBlue);
}

.header__nav ul li:hover{
    background-color: var(--myBlue);
}

.navbar-light .navbar-nav .nav-item:hover .nav-link{
    color: var(--myGray);
}

/*===== ESTILOS MOBILE (OTHERS) - SM =====*/
@media only screen and (min-width: 576px){

    /*===== ESTILOS NAV (MOBILE - OTHERS) =====*/

    /* Logo */
    .header__nav a{
        width: 30%;
    }

    /* Barra de navegación */
    .header__nav ul{
        flex-direction: row;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .header__nav ul li{
        border-bottom: none;
        margin: 0;
    }

    .navbar-light .navbar-nav .nav-item .nav-link{
        width: auto;
        text-align: center;
    }
}

/*===== ESTILOS TABLET - MD =====*/
@media only screen and (min-width: 768px){

    /*===== ESTILOS NAV (TABLET) =====*/
    /* Logo */
    .header__nav a{
        width: 20%;
        margin: 20px;
    }
}

/*===== ESTILOS LG =====*/
@media only screen and (min-width: 992px){

    /*===== ESTILOS NAV (LG) =====*/
    .header__nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to bottom, #000000, transparent);
    }

    /* Logo */
    .header__nav a{
        width: 20%;
        margin: 0 20px;
    }

    /* Barra de navegación */
    .header__nav ul{
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0 20px;
    }

    .navbar-light .navbar-nav .nav-link{
        color: var(--myGray);
        opacity: 0.8;
    }

    .navbar-light .navbar-nav .nav-link.active{
        color: var(--myGray);
        opacity: 1;
    }
    
    .header__nav ul li:hover{
        background-color: var(--myGray);
    }
    
    .navbar-light .navbar-nav .nav-item:hover .nav-link{
        color: var(--myBlue);
    }
}

/*===== ESTILOS DESKTOP - XL =====*/
@media only screen and (min-width: 1024px){
    
    /*===== ESTILOS NAV (DESKTOP) =====*/
    /* Logo */
    .header__nav a{
        width: 15%;
    }
}